.modal {
  color: black;
}

.navbar-brand {
  color: cyan;
}

.nav-link {
  color: cyan;
}

.dropdown-item {
  color: cyan;
}

.dropdown-menu {
  background-color: #0a182e;
  color: cyan;
}

.hlink {
  text-decoration: none;
}

#navbar {
  background-color: #0a182e;
}

.button {
  /* align-self: center; */
  border-radius: 5px;
  background-color: cyan;
}
footer{
  text-align: center;
}
.card {
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-color: cyan;
  color: cyan;
  border-radius: 10px;
  background-color: #0a182e;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  text-align: center;
  display: inline-block;
  border-color: cyan;
  color: cyan;
  border-radius: 10px;
  background-color: #0a182e;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
